/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "oxygen", arial, sans-serif;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: #FFFCEE;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#topbar {
    display: flex;
    flex-direction: row;
    background-color: #7EC0EE;
    text-align: center;
    font-size: 0.8rem;
    padding: 13px;
}
#topbar li {
    margin-left: 10px;
}
#main_nav {
    background-color:#035D58;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    text-shadow: 1px 1px #000000
}
.dropdown_content {
    display: none;
}
#nav_logo {
    width: 40px;
    height: 50px;
    margin-right: 50px;
}
.nav_link {
    padding: 10px;
    text-decoration: none;
    font-family: 'oxygen', sans-serif;
    font-size: 1rem;
    color: #FFFCEE;
}
.nav_link:hover {
    background-color: #073937
}
.hamburger {
    display: none;
}
#hamburger_menu-text {
    display: none;
}
#hero_image-container {
    display: block;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
#hero_image {
    object-fit: cover;
    display: block;
    width: 100%;
    max-height: 500px;
}
#hero_image-bottom {
    padding: 5px;
    background-color: #FAD21A;
}
#middle_content {
    display: flex;
    margin-bottom: 100px;
}
#left_sidebar-container {
    max-width: 300px;
}
#left_sidebar {
    text-align: center;
    padding: 50px;
    background-color: #FAD21A;
}
#left_sidebar p {
    font-size: 1rem;
    color: #654C08;
}
.school_name {
    color: #035D58;
    font-family: 'Marcellus', serif;
    font-size: 3rem;
    margin-bottom: 15px;
}
#triangle_down {
    width:0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #FAD21A;
}
#left_sidebar-text {
    position: relative;
    bottom: 50px;
    height: 250px;
    background-color:#035D58;
    color: white;
    padding: 25px;
    text-align: center;
    z-index: -1;
}
#left_sidebar-text p {
    margin-top: 50px;
    text-shadow: 1px 1px #000000
}
#middle_right-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 50px;
    margin-top: 100px;
}

#image_slider-container {
    max-height: 350px;
    max-width: 600px;   
}
#image_slider-container div { 
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.53);
}
#image_slider-container div img {
    object-fit: cover;
}
#cta_video {
    background-color: #FAD21A;
    width: 100%;
    height: 350px;
    margin-top: 15px;
}
footer {
    width: 100%;
    padding: 30px;
    color: #FFFCEE;
    background-color: #035D58;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #FFFCEE
}
#copyright {
    color:#FAD21A
}

/* MOBILE VERSION */
@media (max-width: 1000px) {
    #topbar {
        display: none;
    }
    #main_nav {
        justify-content: space-between;
        color: #FFFCEE;
    }
    #hamburger_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #hamburger_menu-text {
        display: block;
        margin-right: 20px
    }
    #hamburger_icons {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: block;
        color: #FFFCEE;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 3px 0;
    }
    .nav_link {
        display: none;
    }
    #hero_image-container {
        position: relative;
        
    }
    #middle_content {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }
    #triangle_down {
        width:0;
        height: 0;
        border-left: 280px solid transparent;
        border-right: 280px solid transparent;
        border-top: 50px solid #FAD21A;
    }
    #left_sidebar-container {
        max-width: 100%;
    }
    #image_slider-container {
        margin-bottom: 100px;
        width: 100vw;
    }
}